# Include data files (package sources live under hailo/)
recursive-include hailo/resources *
recursive-include hailo/local_resources *
recursive-include scripts *.sh
include README.md
include requirements.txt

# Exclude unnecessary files
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .git*
